.eclub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.eclub-slogan {
  font-family: "Fredericka the Great", cursive;
  font-size: clamp(4rem, 4vw + 1rem, 6rem);
  font-weight: 400;
  color: #fff;
}

.eclub-sub-container {
  width: 60%;
  padding: 1rem;
}

.eclub-subtitle {
  color: #fff;
  font-size: clamp(15px, 3vh + 1rem, 25px);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.eclub-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.eclub-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.eclub-label {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

.eclub-input {
  width: 100%;
  height: 4rem;
  border: 1px solid #800;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.eclub-input:focus,
.eclub-input:active {
  border-color: none;
  box-shadow: none;
  outline: 0;
}

.eclub-submit {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #800;
  height: 4rem;
  padding: 0 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: 1s ease-out;
}

.eclub-submit {
  cursor: pointer;
  background-color: #900;
}

@media screen and (max-width: 1000px) {
  .eclub-form {
    flex-direction: column;
  }

  .eclub-label {
    display: none;
  }
}
