.navbar {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 20vh;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  padding: 0 1rem;
}

.toggle {
  display: none;
}

.toggle-icon {
  display: none;
  text-align: center;
  font-size: 2rem;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.logo-container {
  width: fit-content;
  display: flex;
  align-items: center;
}

.nav-list {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

a {
  color: #fff;
  text-transform: uppercase;
}

.logo-title {
  font-size: 1.6rem;
  font-weight: 500;
}

a.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
}

a.nav-link:hover,
a.nav-link:active {
  border-bottom: 2px solid #fff;
}

.contact-info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-marker {
  font-size: 2rem;
  display: none;
}

.login-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.li-login {
  width: 8rem;
  text-align: center;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.shop-icon {
  font-size: 2rem;
  stroke: #fff;
}

@media screen and (max-width: 900px) {
  .logo-container {
    padding-left: clamp(15px, 4vw + 1rem, 40px);
  }

  .toggle {
    display: block;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }

  .toggle-icon {
    display: block;
    color: #fff;
  }

  .nav-list-active {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 80vh;
    background-color: #222;
    top: 20vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
  }

  .nav-list {
    display: none;
  }

  a.nav-link {
    font-size: 2rem;
  }

  .address-link {
    display: none;
  }

  .login-container {
    gap: 0.2rem;
  }

  .link-marker {
    display: block;
  }

  .li-login {
    width: fit-content;
  }

  .li-login .nav-link {
    display: none;
  }

  .li-icon {
    width: fit-content;
  }
}
